<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Changa:wght@400;500;600&display=swap" rel="stylesheet" />
    <title>Login</title>
  </head>
  <body>
    <nav class="gp-topnav navbar navbar-expand-lg bg-dark py-3 border-bottom" data-bs-theme="dark">
      <div class="container-fluid">
        <a href="#" class="gp-brand-navbar navbar-brand link-success">GuitarPhase</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNav" aria-controls="topNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="topNav">
          <ul class="navbar-nav d-md-block d-lg-none">
            <li class="nav-item">
              <div class="navbar-text py-0"><hr /></div>
            </li>
            <li class="nav-item">
              <a href="dashboard.html" class="nav-link"><i class="bi bi-speedometer2"></i>Dashboard</a>
            </li>
            <li class="nav-item">
              <a href="projects.html" class="nav-link"><i class="bi bi-list-task"></i>Project List</a>
            </li>
            <li class="nav-item">
              <a href="project-new.html" class="nav-link"><i class="bi bi-plus-square"></i>New Project</a>
            </li>
            <li class="nav-item">
              <a href="quick.html" class="nav-link"><i class="bi bi-lightning-fill"></i>Quick Add Project</a>
            </li>
            <li class="nav-item">
              <div class="navbar-text py-0"><hr /></div>
            </li>
            <li class="nav-item">
              <a href="profile.html" class="nav-link"><i class="bi bi-person-circle"></i>Profile Page</a>
            </li>
            <li class="nav-item">
              <a href="account.html" class="nav-link"><i class="bi bi-person-vcard"></i>Account</a>
            </li>
            <li class="nav-item">
              <a href="settings.html" class="nav-link"><i class="bi bi-gear"></i>Settings</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link"><i class="bi bi-box-arrow-right"></i>Sign Out</a>
            </li>
          </ul>
          <div class="dropdown ms-auto d-none d-lg-block">
            <a href="#" class="text-decoration-none dropdown-toggle link-light" data-bs-toggle="dropdown" aria-expanded="false">
              <img class="rounded-circle" src="./images/blank-profile.png" alt="Profile picture" width="32" height="32" />
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a href="profile.html" class="dropdown-item"><i class="bi bi-person-circle"></i>Profile Page</a>
              </li>
              <li>
                <a href="account.html" class="dropdown-item"><i class="bi bi-person-vcard"></i>Account</a>
              </li>
              <li>
                <a href="settings.html" class="dropdown-item"><i class="bi bi-gear"></i>Settings</a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a href="#" class="dropdown-item"><i class="bi bi-box-arrow-right"></i>Sign Out</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div class="gp-sidenav bg-dark text-light border-end" data-bs-theme="dark">
      <ul class="text-start list-unstyled d-flex flex-column h-90">
        <li>
          <a href="dashboard.html" class="btn"><i class="bi bi-speedometer2"></i>Dashboard</a>
        </li>
        <li>
          <a href="projects.html" class="btn"><i class="bi bi-list-task"></i>Project List</a>
        </li>
        <li>
          <a href="project-new.html" class="btn"><i class="bi bi-plus-square"></i>New Project</a>
        </li>
        <li>
          <a href="quick.html" class="btn"><i class="bi bi-lightning-fill"></i>Quick Add Project</a>
        </li>
      </ul>
    </div>

    <main class="gp-main-content">
      <div class="container-fluid gx-lg-5">