<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GuitarPhase</title>
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <h1>GuitarPhase</h1>

    <div class="gp-alert alert alert-success alert-dismissible fade show" role="alert">
      <strong>Holy guacamole!</strong> You should check in on some of those fields below.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
