<!-- prettier-ignore -->
<%- include('partials/backend-header.ejs') %>

<h1>Your Projects</h1>

<div class="gp-project-list table-responsive mt-3 text-nowrap">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Song</th>
        <th scope="col">Artist</th>
        <th scope="col">Due Date</th>
        <th scope="col">Last Updated</th>
        <th scope="col">Modify</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><a href="project-detail.html">Frampton comes alive solo </a></th>
        <td>Do you Feel...</td>
        <td>Peter Frampton</td>
        <td>10/10/23</td>
        <td>6/10/23</td>
        <td>
          <div class="d-flex justify-content-around">
            <strong>
              <a href="project-detail.html" title="Edit project">
                <i class="bi bi-pencil-square"></i>
              </a>
            </strong>
            <strong>
              <a href="project-detail.html" class="link-danger">
                <i class="bi bi-trash3"></i>
              </a>
            </strong>
          </div>
        </td>
      </tr>

      <tr>
        <th scope="row"><a href="project-detail.html">316</a></th>
        <td>316</td>
        <td>Eddie Van Halen</td>
        <td class="table-danger">5/1/23</td>
        <td>3/1/23</td>
        <td>
          <div class="d-flex justify-content-around">
            <strong>
              <a href="project-detail.html" title="Edit project">
                <i class="bi bi-pencil-square"></i>
              </a>
            </strong>
            <strong>
              <a href="project-detail.html" class="link-danger">
                <i class="bi bi-trash3"></i>
              </a>
            </strong>
          </div>
        </td>
      </tr>

      <tr>
        <th scope="row"><a href="project-detail.html">Get Out of my yard</a></th>
        <td>Get Out of My Yard</td>
        <td>Paul Gilbert</td>
        <td class="table-warning">6/1/23</td>
        <td>4/1/23</td>
        <td>
          <div class="d-flex justify-content-around">
            <strong>
              <a href="project-detail.html" title="Edit project">
                <i class="bi bi-pencil-square"></i>
              </a>
            </strong>
            <strong>
              <a href="project-detail.html" class="link-danger">
                <i class="bi bi-trash3"></i>
              </a>
            </strong>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- prettier-ignore -->
<%- include('partials/backend-footer.ejs') %>
