<!-- prettier-ignore -->
<%- include('partials/backend-header.ejs') %>

<h1>Project: Frampton - solo</h1>
<div class="my-3">
  <a href="project-edit.html" class="gp-icon-button btn btn-primary"><i class="bi bi-pencil-square"></i>Edit Project</a>
</div>

<p>
  <strong>Project Title: </strong><span>Frampton - solo</span><br />
  <strong>Target Completion Date: </strong><span>3/10/2023</span><br />
  <strong>Last Updated: </strong><span>2/15/2023</span><br />
  <strong>Song Inspiration: </strong><span>Do you feel like I do?</span><br />
  <strong>Artist Inspiration: </strong><span>Peter Frampton</span><br />
  <strong>Album/Recording Inspiration: </strong><span>Frampton Comes Alive</span><br />
  <strong>Project Type: </strong><span>transcribed solo, melody</span><br />
  <strong>Total Measures: </strong><span>12</span><br />
  <strong>Target Tempo: </strong><span>100 bpm</span><br />
  <strong>Public: </strong><span>No</span><br />
  <strong>Parent Project: </strong><span>Frampton album</span><br />
</p>

<h2>Project Progress & Updates</h2>

<div class="table-responsive mt-3 text-nowrap">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Measures Complete</th>
        <th scope="col">Current Tempo</th>
        <th scope="col">Notes</th>
        <!-- <th scope="col">Last Updated</th> -->
        <th scope="col">Modify</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><a href="project-detail.html">2/10/2023</a></th>
        <td>3</td>
        <td>70</td>
        <td>Lorem ipsum dolor sit, amet...</td>
        <!-- <td>6/10/23</td> -->
        <td>
          <div class="d-flex justify-content-around">
            <strong>
              <a href="project-detail.html" title="Edit project">
                <i class="bi bi-pencil-square"></i>
              </a>
            </strong>
            <strong>
              <a href="project-detail.html" class="link-danger">
                <i class="bi bi-trash3"></i>
              </a>
            </strong>
          </div>
        </td>
      </tr>

      <tr>
        <th scope="row"><a href="project-detail.html">2/10/2023</a></th>
        <td>3</td>
        <td>70</td>
        <td>Lorem ipsum dolor sit, amet...</td>
        <!-- <td>6/10/23</td> -->
        <td>
          <div class="d-flex justify-content-around">
            <strong>
              <a href="project-detail.html" title="Edit project">
                <i class="bi bi-pencil-square"></i>
              </a>
            </strong>
            <strong>
              <a href="project-detail.html" class="link-danger">
                <i class="bi bi-trash3"></i>
              </a>
            </strong>
          </div>
        </td>
      </tr>

      <tr>
        <th scope="row"><a href="project-detail.html">2/10/2023</a></th>
        <td>3</td>
        <td>70</td>
        <td>Lorem ipsum dolor sit, amet...</td>
        <!-- <td>6/10/23</td> -->
        <td>
          <div class="d-flex justify-content-around">
            <strong>
              <a href="project-detail.html" title="Edit project">
                <i class="bi bi-pencil-square"></i>
              </a>
            </strong>
            <strong>
              <a href="project-detail.html" class="link-danger">
                <i class="bi bi-trash3"></i>
              </a>
            </strong>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<nav aria-label="Page navigation example ">
  <ul class="pagination justify-content-center mt-3">
    <li class="page-item">
      <a class="page-link disabled" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link active" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

<div class="my-5">
  <p>
    <a href="project-edit.html" class="gp-icon-button btn btn-primary"><i class="bi bi-pencil-square"></i>Edit Project</a><br />
  </p>
  <p>
    <a href="#" class="gp-icon-button btn btn-danger"><i class="bi bi-trash3"></i>Delete project</a>
  </p>
</div>

<!-- prettier-ignore -->
<%- include('partials/backend-footer.ejs') %>
