<!-- prettier-ignore -->
<%- include('partials/backend-header.ejs') %>

<h1>Quick-Add a Project</h1>
<!-- TODO: Create form here -->

<!-- prettier-ignore -->
<%- include('partials/backend-footer.ejs') %>
